

input{
  display: block;
}

select{
  display: block;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} 

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.signBlock{

  margin: 1px;
  padding: 10px;
  border: solid  2px  #000 ;
  border-radius: 10px;
  width: 400px;
}


.signHeader h3 {
margin-left:15px ;
}


.signEmail{ 
  padding: 10px;
}  

.signEmail  input {
  width: 200px;
  height: 25px;
  font-size: medium;
}

.signPass{  
  padding: 10px;
}  

.signPass input{
  width: 200px;
  height: 25px;
  font-size: medium;
}


.signBatch{
  padding: 10px;
}

.signBatch select{
  width:200px;
  height: 25px;
  font-size: medium;
}

.signButton{
  padding: 10px;
}

.signButton input{
  width: 100px;
  height: 50px;
  background-color: #fff;
  color: #000;
  font-size: medium;

}

.signButton input:hover{
  cursor: pointer;
  background-color: #000;
  color: #fff;
}
